#sidepanel {
  background-color:#000000;
  position:fixed;
  left:0px;
  top:0px;
  width:42px;
  height:100%;
  transition: width 0.2s;
}
#sidepanel:hover {
  width: 142px;
}
.sidebutton {
  display: flex;
  margin: auto;
  width: 100%;
  height: 42px;
}
.sidebutton:hover {
  width: 100%;
  background: #424242;
}
.sideico {
  width:32px;
  height:32px;
  padding: 5px;
}
.sidetext {
  color: #ffffff;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  display: none;
}
#sidepanel:hover .sidebutton .sidetext{
  display: inline;
}
body{
  background: #424242;
}
